<h2>Countries</h2>
<mat-checkbox (ngModelChange)="isIt = !isIt" [ngModel]="checked"
  >Check/ Uncheck</mat-checkbox
>

<mat-checkbox [checked]="isIt">Africa</mat-checkbox>
<mat-checkbox [checked]="isIt">Australia</mat-checkbox>
<mat-checkbox [checked]="isIt">Singapore</mat-checkbox>
<mat-checkbox [checked]="isIt">Ecuador</mat-checkbox>

<h2>Countries</h2>
<mat-checkbox (ngModelChange)="isIt = !isIt" [ngModel]="checked"
  >Check/ Uncheck</mat-checkbox
>

<mat-checkbox [checked]="isIt">Russia</mat-checkbox>
<mat-checkbox [checked]="isIt">China</mat-checkbox>
<mat-checkbox [checked]="isIt">Thailand</mat-checkbox>
<mat-checkbox [checked]="isIt">Peru</mat-checkbox>
